# https://github.com/antfu/unplugin-vue-components/issues/477
public-hoist-pattern[]=@vue/runtime-core

ignore-workspace-root-check=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
